.header {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0rem 0rem 5rem 5rem;
  background-color: var(--accent-second);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8125rem;
}