.catalog {
  flex: 1 1 auto;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15.5rem);
  justify-content: center;
  gap: 4.75rem;
}

/* .catalog__item {
  padding: 16px 24px;
  border-radius: 45px;
  border: 1px solid #000;
  background: var(--white);
} */

.alert {
  color: #ff7020;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 1919.99px) {
  .catalog__list {
    gap: 3.8rem;
  }
}

@media (max-width: 1439.99px) {
  .catalog__list {
    row-gap: 2rem;
  }
}

@media (max-width: 743.99px) {
  .catalog__list {
    row-gap: 1.5rem;
  }
}
