.checkbox {
  --width: 126px;
  --height: 52px;
  --offset: 18px;
  --first-color: var(--accent);
  --second-color: var(--accent-second);
  --text-color: var(--white);
  --text-size: 24px;
  --duration: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8),
    background-color 0.2s linear;
  cursor: pointer;
}

.checkbox:hover .checkbox__div::before {
  transform: scale(0.9);
  background-color: var(--footer-color);
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked ~ .checkbox__div::before {
  left: calc(var(--width) - var(--height) - var(--offset));
}

.checkbox__input:hover:checked ~ .checkbox__div::before {
  width: 70px;
  height: 52px;
}

.checkbox__div {
  width: var(--width);
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 16px;
  background-color: var(--first-color);
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: 500;
  border-radius: 3.125rem;
  border: 0.125rem solid var(--white);
  position: relative;
  transition: var(--duration);
}

.checkbox__div span {
  position: relative;
  z-index: 1;
}

.checkbox__div::before {
  content: "";
  width: 70px;
  height: 52px;
  position: absolute;
  top: 0;
  left: -0.3125rem;
  background-color: var(--second-color);
  border-radius: 45%;
  transition: var(--duration);
  z-index: 0;
}

@media (min-width: 46.5rem) and (max-width: 89.9994rem) {
  .changeLanguage {
    max-width: 110px;
    /* margin-bottom: 2rem; */
  }
  
  .checkbox {
    --height: 42px;
    --width: 106px;
    --text-size: 1.5rem;
    --offset: 0.5rem;
  }
  .checkbox__div {
    padding: 0 0.5rem;
  }
  .checkbox__div::before {
    width: 54px;
    height: 42px;
    /* left: -5px; */
  }
  .checkbox__input:hover:checked ~ .checkbox__div::before {
    width: 54px;
    height: 42px;
  }
}

@media (min-width: 20rem) and (max-width: 46.4994rem) {
  .changeLanguage {
    max-width: 6.25rem;
    margin-bottom: 1.5rem;
  }
}

