@font-face {
  font-display: swap;
  font-family: 'PoppinsS';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Poppins-SemiBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'PoppinsS';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Poppins-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'PoppinsS';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Poppins-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'PoppinsS';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Poppins-Medium.woff') format('woff');
}
