body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--background-color);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.page {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: var(--max-width);
  padding: var(--padding-container);
  margin: 0 auto;
}
