.notFound {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7.5rem 0 8.75rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--accent);
}

.notFound__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.notFound__number {
  font-size: 200px;
  font-weight: 600;
  line-height: 130%;
}

.notFound__img img {
  object-fit: cover;
}

.notFound__title { 
  margin-bottom: 7.5rem;
  font-weight: 600;
  font-size: 3.5rem;
  text-align: center;
}

.notFound__btn {  
  padding: 1rem 2rem;
  font-weight: 600; 
  font-size: 3rem;
  color: var(--white) !important;
  text-transform: uppercase;
  border-radius: 3.125rem;
  border: 0.25rem solid var(--white);
  background-color: var(--accent);
  transition: background-color .4s ease-in-out;
}

.notFound__btn:hover {  
  background-color: var(--footer-color);
}

.notFound__angel_1,
.notFound__angel_2,
.notFound__angel_3,
.notFound__angel_4,
.notFound__angel_5,
.notFound__angel_6 {
  position: absolute;
  top: 0;
  left: 15px;
}

.notFound__angel_2 {
  left: auto;
  right: 15px;
}

.notFound__angel_3 {
  top: 50%;
  left: 10%;
}

.notFound__angel_4 {
  top: 60%;
  left: auto;
  right: 15px;
}

.notFound__angel_5 {
  top: auto;
  bottom: 15px;
}

.notFound__angel_6 {
  top: auto;
  left: auto;
  bottom: 10px;
  right: 10px;
}

@media (min-width: 90rem) and (max-width: 119.9994rem) {
  .notFound{
    padding-top: 6.25rem;
  }
  .notFound__title { 
    font-size: 2.5rem;
  }
}

@media (min-width: 20rem) and (max-width: 46.4994rem) {
  .notFound{
    padding-top: 1rem;
  }
  .notFound__img {
    width: 7.5rem;
    height: 7.5rem;
    margin-bottom: 1.25rem;
  }
  .notFound__title { 
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .notFound__btn {
    font-size: 1.5rem;
  }
}