.notFound {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7.5rem 0 8.75rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--accent);
}

.notFound__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.notFound__number {
  font-size: 12.5rem;
  font-weight: 600;
  line-height: 130%;
}

.notFound__img img {
  object-fit: cover;
}

.notFound__title { 
  margin-bottom: 7.5rem;
  font-weight: 600;
  font-size: 3.5rem;
  text-align: center;
}

.notFound__btn {  
  padding: 1rem 2rem;
  font-weight: 600; 
  font-size: 3rem;
  color: var(--white) !important;
  text-transform: uppercase;
  border-radius: 3.125rem;
  border: 0.25rem solid var(--white);
  background-color: var(--accent);
  transition: background-color .5s ease-in-out;
}

.notFound__btn:hover {  
  background-color: var(--footer-color);
}

@media (min-width: 90rem) and (max-width: 119.9994rem) {
  .notFound{
    padding-top: 6.25rem;
  }
}

@media (min-width: 46.5rem) and (max-width: 89.9994rem) {
  .notFound{
    padding-top: 6rem;
  }
}

@media (min-width: 20rem) and (max-width: 46.4994rem) {
  .notFound{
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  .notFound__number {
    font-size: 7.5rem;
  }
  .notFound__img img {
    width: 6.25rem;
    height: 6.25rem;
  }
  .notFound__title { 
    margin-bottom: 2.5rem;
    font-size: 2rem;
  }
  .notFound__btn {
    font-size: 1.5rem;
  }
}