:root {
  --max-width: 102rem;
  --font: 'Poppins, sans-serif';
  --font-size: 2rem;
  --padding-container: 0 1rem;
  --accent: #FDD49E;
  --accent-second: #FCA7B5;
  --red: #EB5757;
  --white: #FFF;
  --black: #000;
}

html[data-theme="dark"] {
  --text-color: var(--white);

  --background-color: var(--black);
}

html[data-theme="light"] {
  --text-color: var(--black);

  --background-color: var(--white);
}