:root {
  --max-width: 1600px;
  --font: PoppinsS, sans-serif;
  --font-size: 2rem;
  --padding-container: 0 1rem;
  --accent-second: #FDD49E;
  --footer-color: #ffc06d;
  --accent: #FCA7B5;
  --red: #EB5757;
  --red-btn: #F00;
  --white: #fff;
  --black: #131313;
  --grey: #575757;
  --disabled: #D4D4D4;
}

html[data-theme="dark"] {
  --text-color: var(--white);

  --background-color: var(--black);
}

html[data-theme="light"] {
  --text-color: var(--black);

  --background-color: var(--white);
}

@media (max-width: 1919.99px) {
  :root {
    --max-width: 1200px;
  }
}