.accountContainer {
  padding: 24px 485px 293px 163px;
  width: fit-content;
}
.accountDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 462px;
}

.title {
  font-family: PoppinsS;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 22px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-family: PoppinsS;
  font-size: 12px;
  color: var(--grey);
  margin-bottom: 4px;
}

.input {
  font-family: PoppinsS;
  font-size: 16px;
  padding: 4px 8px;
  margin-bottom: 8px;
  border: 1px solid var(--grey);
  color: var(--black);
  border-radius: 8px;
}
.input:last-of-type {
  margin-bottom: 0;
}

.editButton {
  width: max-content;
  height: 40px;
  margin-top: 24px;
  padding: 8px 24px;
  border-radius: 50px;
  border: 1px solid var(--black);
  background: var(--accent);
  cursor: pointer;

  font-family: PoppinsS;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  color: var(--black);
}

.deleteButton {
  width: max-content;
  height: 40px;
  margin-top: 24px;
  padding: 8px 24px;
  border-radius: 50px;
  border: 1px solid var(--red-btn);
  background: var(--white);
  cursor: pointer;

  font-family: PoppinsS;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  color: var(--red-btn);
}

@media (max-width: 1919.99px) {
  .accountContainer {
    padding: 24px 246px 245px 122px;
  }
}

@media (max-width: 1439.99px) {
  .accountContainer {
    padding: 24px 78px 388px 78px;
  }
}

@media (max-width: 743.99px) {
  .accountContainer {
    padding: 0;
    margin-bottom: 93px;
  }
  .accountDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 328px;
  }
}
