/* ------ General rules ------ */

.input:hover,
.input:focus {
  border: 1px solid var(--black);
}

.input,
.error_input,
.building_unit {
  width: 100%;
  border-radius: 8px;
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--grey);
  font-size: 16px;
  font-weight: 400;
}

.error,
.label {
  font-family: var(--font);
  font-size: 12px;
  font-weight: 400;
}

.header_payment {
  font-family: var(--font);
  font-size: 24px;
  font-weight: 600;
}

.payment_checkbox {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
}

.label,
.flex_inputs_container,
.input_container_flex,
.payment_container,
.icons_container,
.payment_checkbox {
  display: flex;
}

/* ------ Main styles ------ */

.error_input {
  border: 1px solid var(--red);
}

.error {
  margin-left: 4px;
  margin-top: 10px;
  color: var(--red);
}

.input {
  width: 100%;
  border-radius: 8px;
  height: 32px;

  padding-left: 8px;
  padding-right: 8px;

  border: 1px solid var(--grey);
}

.checkbox {
  display: none;

  width: 24px;
  height: 24px;
}

.label {
  flex-direction: column;
  color: var(--grey);
}

.span {
  opacity: 0;
}

.flex_inputs_container {
  flex-direction: column;
  gap: 6px;
}

.input_container_flex {
  width: 100%;
  gap: 52px;
}

.form_container {
  margin-bottom: 44px;
}

.payment_checkbox {
  flex-direction: row-reverse;
  justify-content: left;
  gap: 16px;
  margin-bottom: 15px;
}

.payment_container {
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.icons_container {
  gap: 40px;
}

/* ------ Media rules ------ */

@media screen and (min-width: 744px) {
  .input_container {
    width: 462px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input_container_flex {
    gap: 186px;
  }

  .error {
    margin-top: 8px;
  }

  .form_container {
    width: 462px;
    margin: 0 auto;
    margin-bottom: 44px;
  }
}
