.count {
  width: 102px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.minus,
.plus {
  width: 30px;
  height: 30px;
  background-color: var(--accent);
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  /* .count {
    width: 84px;
    height: 40px;
    border-radius: 12px;
    padding: 9px 12px;
    font-size: 16px;
    line-height: 22px;
  }

  .minus {
    width: 10px;
  }

  .minus:disabled {
    cursor: default;
  }

  .plus {
    width: 10px;
  } */
}
