.button {
    width: max-content;
    height: 40px;
    margin-top: 24px;
    padding: 8px 24px;
    border-radius: 50px;
    border: 1px solid var(--black);
    background: var(--white);
    cursor: pointer;
  
    font-family: PoppinsS;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: var(--black);
  }