.slick-prev {
  width: 6.25rem;
  height: 6.25rem;
  left: 32%;
  z-index: 10;
}

.slick-next {
  width: 6.25rem;
  height: 6.25rem;
  right: 32%;
  z-index: 10;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.splide__arrow svg {
  fill: var(--footer-color);
}