.auth {
  margin: 6.25rem 0;
  font-size: 1.25rem;
}

.auth__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__form {
  display: inline-block;
  max-width: 28.125rem;
  padding: 1.875rem;
  border: 0.125rem solid var(--white);
  border-radius: 0.4375rem;
  transition: 0.3s;
  text-align: center;
  vertical-align: middle;
}

.auth__title {  
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}

.form__label {
  display: block;
  margin-bottom: 2.125rem;
  position: relative;
}

.form__label__text {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.form__label__input {
  width: 100%;
  height: 3.75rem;
  padding: 0.3125rem 0.625rem;
  font-size: 1.375rem;
  border: 0.125rem solid var(--accent-second);
  border-radius: 0.25rem;
  background-color: transparent;
}

.form__label__input:focus {
  border-color: var(--red);
}

.form__label__input::placeholder {
  font-size: 1.375rem;
}

.form__label__btn {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 7px;
  border: none;
}

.form__label__btn svg {
  width: 24px;
  height: 20px;
}

.form__or {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__button {
  display: inline-block;
  margin-bottom: 20px;
}

.form__google {
  margin-bottom: 20px;
}

.form__or span {
  margin: 0 10px;
}

.form__or::before,
.form__or::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--accent);
}

.form__submit,
.form__reg {
  margin-bottom: 15px;
}

.form__reg a {
  color: var(--accent-second);
  transition: color .3s ease-in-out;
}

.form__reg a:hover {
  color: var(--red);
}

.form__label__error {
  display: inline-block;
  margin: 7px 0;
  color: red;
  font-size: 12px;
}

.form__memory__input {
  margin-right: 0.75rem;
  margin-bottom: 1.25rem;
}

.animate_password {
  background-image: linear-gradient(90deg, var(--accent) 50%, transparent 50%);
  background-size: 200%;
  background-position-x: 100%;
  transition: all ease 1s;
  animation-name: passwordanimation;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes passwordanimation {
  0% {background-position-x: 100%;}
  100% {background-position-x: 0;}
}