.auth {
  position: relative;
  padding: 3rem 0;
  font-size: 1.25rem;
  background-color: var(--accent-second);
}

.auth__wrapper {
  position: relative;
  width: 100%;
  color: var(--black);
  z-index: 5;
}

.auth__form {
  margin: 0 auto;
  max-width: 29rem;
}

.auth__title {
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  margin-bottom: 2rem;
  position: relative;
  text-align: left;
}

.label__text {
  display: inline-block;
  min-height: 1.375rem;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--grey);
  text-transform: capitalize;
  margin-bottom: 0.375rem;
  opacity: 0;
  transition: opacity .5s linear;
}

.form__label__text {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.form__label__input {
  width: 100%;
  height: 40px;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border: 0.0625rem solid var(--grey);
  border-radius: 0.5rem;
  background-color: transparent;
}

.form__label__input:focus {
  border-color: var(--red);
}

.form__label__input:active .label__text {
  opacity: 1;
}

.form__label__input::placeholder {
  font-weight: 400;
  font-size: 1rem;
}

.form__label__btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(20%);
  padding: 0 0.4375rem;
  border: none;
}

.form__label__btn svg {
  width: 24px;
  height: 20px;
}

.form__checkbox {
  position: relative;
  cursor  : pointer;
  display : flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.checkbox__text {
  user-select: none;
  font-weight: 500;
  font-size  : 1rem;
  text-transform: capitalize;
}

.checkbox__input {
  position: absolute;
  opacity : 0;
}

.checkbox__input+.checkbox__span::before {
  content      : '';
  display      : inline-block;
  border: 2px solid var(--black);
  border-radius: 0.125rem;
  width        : 20px;
  height       : 20px;
  outline: 2px transparent;
}

.checkbox__input:checked+.checkbox__span::before {
  height: 1.8rem;
  background-image   : url('/images/shop/checkBox.png');
  background-repeat  : no-repeat;
  background-position: center center;
  background-size    : cover;
  border-color       : transparent;
  animation          : pop 180ms ease-in;
}

.checkbox__input:focus+.checkbox__span::before {
  outline: 0.125rem;
}

.form__or {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__button {
  display: inline-block;
  margin-bottom: 20px;
}

.form__google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin: 0 auto 1.25rem;
  border-radius: 3.125rem;
  border: 0.0625rem solid var(--black);
  background: var(--white);
  }

.form__or span {
  margin: 0 10px;
}

.form__or::before,
.form__or::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--white);
}

.form__submit {
  display: block;
  padding: 1rem 2rem;
  border-radius: 3.125rem;
  background-color: var(--accent);
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto 1.5rem;
}

.form__submit:disabled {
  background-color: var(--disabled);
}

.form__submit:hover {
  background-color: var(--footer-color);
}

.form__reg a {
  color: var(--accent-second);
  transition: color .3s ease-in-out;
}

.form__reg a:hover {
  color: var(--red);
}

.form__label__error {
  display: inline-block;
  margin: 0.4375rem 0;
  color: red;
  font-size: 0.75rem;
}

.form__memory__input {
  margin-right: 0.75rem;
  margin-bottom: 1.25rem;
}

.form__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.form__link {
  font-weight: 400;
  font-size: 0.875rem;
  transition: text-decoration .4s ease-in-out;
}

.form__link:hover {
  text-decoration: underline;
}

.form__reset {
  margin: 1rem auto 0rem;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--black);
  transition: text-decoration .4s linear;
}

.form__reset:hover {  
  text-decoration: underline;
}

.animate_password {
  background-image: linear-gradient(90deg, var(--accent) 50%, transparent 50%);
  background-size: 200%;
  background-position-x: 100%;
  transition: all ease 1s;
  animation-name: passwordanimation;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes passwordanimation {
  0% {background-position-x: 100%;}
  100% {background-position-x: 0;}
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}