.profile {
  padding: 3rem;
}

.profile__wrapper {
  display: grid;
  grid-template-columns: 300px auto;
  column-gap: 1.5rem;
}

.profile__sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile__name {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}

.profile__email {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 1rem;
}

.profile__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.profile__item {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;

  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--black);
  background-color: transparent;
}

.profile__item svg {
  width: 2.5rem;
  height: 2.5rem;
}

.profile__item:hover {
  background-color: var(--footer-color);
}

.profile__content {
  padding: 0 0 0 10rem;
}