.product {
  position: relative;
  width: 15.5rem;
  height: 26.5rem;
  padding: 1rem 1.5rem 2rem;
  border-radius: 2.8125rem;
  border: 0.0625rem solid var(--black);
  background-color: var(--white);
  color: var(--black);
}

.product__sale {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 16px;
  left: 24px;
  z-index: 0;
}

.product__img {
  display: block;
  width: 10.5rem;
  height: 11.9375rem;
  margin: 0 auto 0.625rem;
}

.product__title {  
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0.375rem;
}

.product__count {  
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 0.4375rem;
}

.product__favorite {
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8125rem;
  color: var(--black);
}

.product__rating,
.product__like {
  height: 20px;
}

.product__rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.product__like .like__img {
  cursor: pointer;
  vertical-align: top;
  transition: background .5s ease-in-out;
}

.like__img:hover {
  background: url('/images/product/heart-hover.svg') center / cover no-repeat;
}

.product__price {  
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0.4375rem;
}

.product__price .product__price_sale {
  display: inline-block;
  margin-right: 0.5rem;
  color: var(--red-btn);
}

.product__price .product__price_was {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: var(--grey);
  text-decoration: line-through;
}

.product__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__add img {
  vertical-align: middle;
  transition: background .5s ease-in-out;
}

.product__add img:hover {
  background: url('/images/product/cart-hover.svg') center / cover no-repeat;
}