.product {
  width: 15.5rem;
  height: 26.5rem;
  padding: 1rem 1.5rem 2rem;
  border-radius: 2.8125rem;
  border: 0.0625rem solid var(--black);
  background-color: var(--white);
  color: var(--black);
}

.product__img {
  display: block;
  width: 10.5rem;
  height: 11.9375rem;
  margin: 0 auto 0.625rem;
}

.product__title {  
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0.375rem;
}

.product__count {  
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 0.4375rem;
}

.product__favorite {
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8125rem;
  color: var(--black);
}

.product__rating,
.product__like {
  height: 20px;
}

.product__rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.product__rating img,
.product__like img {
  cursor: pointer;
  vertical-align: top;
}

.product__price {  
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0.4375rem;
}

.product__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}