.deliveryContainer {
  height: 100%;
  max-width: 1110px;
  padding: 24px 485px 32px 163px;
}

.title {
  font-family: PoppinsS;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 22px;
  padding-left: 8px;
}

.img {
  margin: 0;
}

.img:nth-child(1) {
  margin-right: 8px;
}
