.deliveryContainer {
  height: 100%;
  padding: 24px 485px 32px 163px;
  width: fit-content;
}

.title {
  font-family: PoppinsS;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 22px;
  padding-left: 8px;
}

.img {
  margin: 0;
}

.img:nth-child(1) {
  margin-right: 8px;
}

@media screen {
}

@media (max-width: 1919.99px) {
  .deliveryContainer {
    padding: 24px 125px 32px 121px;
  }
}

@media (max-width: 1439.99px) {
}

@media (max-width: 743.99px) {
}
