.footer {
  padding: 1.5rem 0 4.875rem;
  background-color: var(--footer-color);
  /* box-shadow: 0rem 0.9375rem 1.5625rem 0rem rgba(0, 0, 0, 0.35); */
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 2.625rem;
}

.footer__top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2.25rem;
}

.footer__menu {
  font-size: 2rem;
}

.footer__menu__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.625rem;
  row-gap: 2rem;
}

.footer__bottom { 
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 75rem) {
  .footer__top {
    align-items: flex-start;
    column-gap: 2.625rem;
  }

  .footer__menu {
    font-size: 1.5rem;
    margin-bottom: 2.25rem;
  }
}

@media (max-width: 56.25rem) {
  .footer__top {
    display: grid;
    grid-template-areas: 'logo menu menu' '. contacts payment';
    justify-content: space-around;
    column-gap: 0;
    row-gap: 0;
  }

  .footer__logo {
    grid-area: logo;
  }

  .footer__menu {
    grid-area: menu;
  }

  .footer__contacts {
    grid-area: contacts;
  }

  .footer__payment {
    grid-area: payment;
  }
}

@media (max-width: 46.5rem) {
  .footer__top {
    grid-template-areas: 'logo menu payment' '. contacts .';
    justify-content: space-between;
  }

  .footer__menu {
    max-width: 7.1875rem;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
  }

  .footer__menu__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
}