.contacts__title {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.contacts__links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: 75rem) {
  .contacts__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 46.5rem) {
  .contacts {
    max-width: 7.1875rem;
  }

  .contacts__title {
    font-size: 14px;
  }

  .contacts__item img {
    width: 2rem;
    height: 2rem;
  }
  
  .contacts__links {
    gap: 1rem;
  }
}
