.animation {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.animation__container {
  position: relative;
}

.animation.close {
  display: none;
  opacity: 0;
}

.heart {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.heart button {
  display: block;
  border: none;
}

.cloud1 {
  width: 25.625rem;
  height: 20rem;
  position              : fixed;
  top                   : -1%;
  left                  : 18%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  background-image : url('../../public/images/home-animation/cloud-1.png');
  background-size  : contain;
  background-repeat: no-repeat;
}

.cloud2 {
  width: 22.1875rem;
  height: 17.1875rem;
  position              : fixed;
  top                   : 15%;
  right                  : 15%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  background-image : url('../../public/images/home-animation/cloud-2.png');
  background-size  : contain;
  background-repeat: no-repeat;
}

.cloud3 {
  width: 15rem;
  height: 9.375rem;
  position              : fixed;
  top                   : 70%;
  left                  : 15%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  background-image : url('../../public/images/home-animation/cloud-3.png');
  background-size  : contain;
  background-repeat: no-repeat;
}

.cloud4 {
  width: 15rem;
  height: 9.375rem;
  position              : fixed;
  bottom                   : 20%;
  right                  : 5%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  background-image : url('../../public/images/home-animation/cloud-4.png');
  background-size  : contain;
  background-repeat: no-repeat;
}

.cloud5 {
  width: 23.125rem;
  height: 14.375rem;
  position              : fixed;
  bottom                : -5%;
  left                  : 35%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  background-image : url('../../public/images/home-animation/cloud-5.png');
  background-size  : contain;
  background-repeat: no-repeat;
}

.angel1 {
  width: 20.625rem;
  height: 20rem;
  position              : fixed;
  top                   : 0;
  left                  : 0;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  background-image : url('../../public/images/home-animation/angel_1.png');
  background-size  : contain;
  background-repeat: no-repeat;
}

.angel2 {
  width: 7.1875rem;
  height: 7.5rem;
  position              : fixed;
  bottom                : -3%;
  right                  : 10%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  background-image : url('../../public/images/home-animation/spiral.png');
  background-size  : contain;
  background-repeat: no-repeat;
}

.background-animation {
  position              : fixed;
  top                   : 0;
  left                  : 0;
  height                : 100vh;
  width                 : 100vw;
  z-index               : -1;
  background-color      : var(--accent);
  overflow-x            : hidden;
  overflow-y            : hidden;
}

#angel-one {
  background-image   : url('../../public/images/home-animation/angel_2.png');
  background-size  : cover;
  background-repeat: no-repeat;
  height           : 9.375rem;
  width            : 9.375rem;
  position         : absolute;
  top              : 0;
  right             : 0;
  transition       : all 10s;
  animation        : move1 10s infinite;
  -webkit-animation: move1 10s infinite;
}

#angel-two {
  background-image : url('../../public/images/home-animation/angel_3.png');
  background-size  : cover;
  background-repeat: no-repeat;
  height           : 8.125rem;
  width            : 9.375rem;
  position         : absolute;
  bottom              : 10%;
  left            : 10%;
  transition       : all 7s;
  animation        : move2 7s infinite;
  -webkit-animation: move2 7s infinite;
}

@keyframes move1 {
  0% {
    transform: translate3d(0, 5vh, 0);
  }

  15% {
    transform: translate3d(-5vw, 25vh, 0);
  }

  25% {
    transform: translate3d(-35vw, 45vh, 0);
  }

  35% {
    transform: translate3d(-80vw, 75vh, 0);
    width    : 10.625rem;
  }

  50% {
    transform: translate3d(-40vw, 60vh, 0);
    width    : 12.5rem;
  }

  65% {
    transform: translate3d(-20vw, 35vh, 0);
  }

  85% {
    transform: translate3d(-10vw, 25%, 0);
    width    : 10rem;
  }

  100% {
    transform: translate3d(0, 5vh, 0);
  }
}

@keyframes move2 {
  0% {
    transform: translate3d(0, -5vh, 0);
  }

  15% {
    transform: translate3d(5vw, -25vh, 0);
  }

  25% {
    transform: translate3d(35vw, -45vh, 0);
  }

  35% {
    transform: translate3d(80vw, -75vh, 0);
    width    : 10.625rem;
  }

  50% {
    transform: translate3d(40vw, -60vh, 0);
    width    : 10rem;
  }

  65% {
    transform: translate3d(20vw, -35vh, 0);
  }

  85% {
    transform: translate3d(10vw, -25%, 0);
    width    : 9.375rem;
  }

  100% {
    transform: translate3d(0, 5vh, 0);
  }
}

@media (max-width: 46.5rem) {
  .cloud1 {
    display: none;
  }
  .cloud2 {
    width: 15.9rem;
  /* height: 275px; */
  }
  .cloud5 {
    display: none;
  }
  .cloud4 {
    display: none;
  }
}