.selling {
  position: relative;
  margin-top: 1rem;
}

.selling::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: url('../../public/images/sellers/bg.png') left bottom / contain no-repeat;
}

.selling__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.angel {  
  width: 234px;
  height: 237px;
  position : absolute;
  top : -5%;
  right : 20%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  background: url('../../public/images/sellers/angel.png') center / cover no-repeat;
  z-index: 10;
}