.selling {
  position: relative;
  padding-top: 1rem;
}

.sellers__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sellers__img_container {
  width: 182px;
}

.sellers__img_container_active {
  width: 182px;
}

@media screen and (min-width: 744px) {
  .sellers__img_container {
    width: 425px;
  }

  .sellers__img_container_active {
    width: 425px;
  }
}

@media screen and (min-width: 1440px) {
  .sellers__img_container {
    width: 182px;
  }

  .sellers__img_container_active {
    width: 182px;
  }
}

@media screen and (min-width: 1920px) {
  .sellers__img_container {
    width: 253px;
  }

  .sellers__img_container_active {
    width: 425px;
  }
}

.sellers_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sellers__title {
  color: black;
  margin-top: 37px;
  font-size: 32px;
  font-weight: 400;
}

.sellers__title_active {
  color: black;
  margin-top: 32px;
  font-size: 40px;
  font-weight: 400;
}

.sellers__count {
  color: black;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}

.sellers__count_active {
  color: black;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
}

.sellers__price {
  margin-top: 8px;
  color: black;
  font-size: 24px;
  font-weight: 500;
}

.sellers__price_active {
  margin-top: 12px;
  color: black;
  font-size: 32px;
  font-weight: 500;
}

.swiper-slide.sellers__slide.swiper-slide-prev {
  background-color: red;
}

@media screen and (min-width: 744px) {
  .sellers__title {
    color: black;
    margin-top: 16px;
    font-size: 32px;
    font-weight: 400;
  }

  .sellers__count {
    color: black;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
  }

  .sellers__price {
    margin-top: 12px;
    color: black;
    font-size: 24px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1440px) {
  .sellers__title {
    color: black;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 400;
  }

  .sellers__count {
    color: black;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
  }

  .sellers__price {
    margin-top: 12px;
    color: black;
    font-size: 20px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1920px) {
  .sellers__title {
    color: black;
    margin-top: 23px;
    font-size: 32px;
    font-weight: 400;
  }

  .sellers__count {
    color: black;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
  }

  .sellers__price {
    margin-top: 12px;
    color: black;
    font-size: 24px;
    font-weight: 500;
  }
}

/* .swiper-slide.sellers__slide.swiper-slide-prev .sellers_container {
  background-color: red;
} */

.pagination {
  height: 44px;
  width: 100%;
  margin-top: 18px;
}

@media screen and (min-width: 744px) {
  .pagination {
    height: 74px;
    width: 100%;
    margin-top: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .pagination {
    height: 80px;
    width: 100%;
    margin-top: 18px;
  }
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 1920px) {
  .container {
    padding-left: 162px;
    padding-right: 162px;
    width: 1920px;
  }
}

/* .sliderSlick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.selling__wrapper {
  padding-left: 32px;
  padding-right: 32px;
  background: linear-gradient(to bottom, transparent 60%, var(--accent-second) 40%);
}

@media screen and (min-width: 744px) {
  .selling__wrapper {
    padding-left: 162px;
    padding-right: 162px;
  }
}

@media screen and (min-width: 1440px) {
  .selling__wrapper {
    padding-left: 122px;
    padding-right: 122px;
  }
}

@media screen and (min-width: 1920px) {
  .selling__wrapper {
    padding-left: 162px;
    padding-right: 162px;
  }
}

.selling__wrapper::after {
  content: '';
  width: 100%;
  height: 750px;
  position: absolute;
  bottom: 80px;
  left: 0px;
  background: url('/images/sellers/bg.png') left bottom / cover no-repeat;
  /* background-origin: padding-box;
  z-index: 0; */
}

/* .angel {
  width: 14.625rem;
  height: 14.8125rem;
  position: absolute;
  top: -5%;
  right: 5%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  background: url('/images/sellers/angel.png') center / cover no-repeat;
  z-index: 10;
} */

@media (min-width: 90rem) and (max-width: 119.9994rem) {
  .selling__wrapper::after {
    background-size: contain;
  }
  .angel {
    top: 1%;
    right: 1%;
  }
}

@media (min-width: 46.5rem) and (max-width: 89.9994rem) {
  .selling__wrapper::after {
    height: 34.0625rem;
    background-size: cover;
  }

  .angel {
    top: 3%;
    width: 7.1875rem;
    height: 7.25rem;
  }
}

@media (min-width: 20rem) and (max-width: 46.4994rem) {
  .selling__wrapper::after {
    height: 24.625rem;
    background-size: cover;
    bottom: 3.125rem;
  }

  .angel {
    display: none;
  }
}
