.shop {
  background-color: var(--white);
  color: var(--black);
}

.shop__content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media (max-width: 1919.99px) {
  .shop__content {
    gap: 0.5rem;
  }
}