.orderContainer {
  padding: 24px 163px 374px 161px;
  width: fit-content;
}
.orderContent {
  width: 786px;
}
.aboveTableBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.title {
  font-family: PoppinsS;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 22px;
}
.selectComponent {
  position: relative;
  top: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 215px;
  height: 40px;
  padding: 0px 12px;
  color: var(--black);
  border-radius: 25px;
  border: 1px solid var(--black);
  background: var(--white);

  font-family: PoppinsS;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.selectComponent span {
  position: 'relative';
  z-index: 4;
}

@media (max-width: 1439.99px) {
  .orderContent {
    width: 618px;
  }
  .orderContainer {
    padding-top: 50px 163px 374px 161px;
    width: fit-content;
  }
}

@media (max-width: 743.99px) {
  .orderContent {
    width: 328px;
  }
  .orderContainer {
    padding: 0;
  }

  .aboveTableBlock {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 8px;
  }
  .title {
    align-self: start;
    margin-bottom: 28px;
  }
}
