.orderContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 462px;
  
}

.title {
  font-family: PoppinsS;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 22px;
}
