.paymentContainer {
  height: 100%;
  /* padding: 23px 487px 108px 161px; */
  width: 462px;
  margin-top: 23px;
  margin-left: 161px;
  margin-bottom: 36px;
}

.title {
  font-family: PoppinsS;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 22px;
  padding-left: 8px;
}

.img {
  margin: 0;
}

.img:nth-child(1) {
  margin-right: 8px;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deleteTitle {
  color: var(--black);
  font-size: 16px;
}

@media (max-width: 1439.99px) {
  .paymentContainer {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 100%;
  }
}
@media (max-width: 743.99px) {
  .paymentContainer {
    width: 328px;
  }
}
