/* .tbodyWrapper {
  display: block;
  width: 100%;
} */

.table {
  width: 100%;
  border-collapse: collapse;
  color: var(--black);
  table-layout: fixed;
}
.rowCellTable {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid var(--grey);
  font-size: 16px;
  font-weight: 500;
}

.rowCellTable:nth-child(1) {
  width: 280px;
}

.lineOrder:hover {
  background-color: var(--accent-second);
  cursor: pointer;
}

.lineOrder.selected {
  background-color: var(--footer-color);
}

@media (max-width: 743.99px) {
  .rowCellTable:nth-child(1) {
    width: 160px;
  }
  .rowCellTable {
    font-weight: 600;
    line-height: 20px;
  }
  .rowCellTable p {
    font-weight: 400;
    line-height: 20px;
  }
}
