.input:hover,
.input:focus {
  border: 1px solid var(--black);
}

.error_input {
  width: 100%;
  border-radius: 8px;
  height: 32px;

  padding-left: 8px;
  padding-right: 8px;

  border: 1px solid var(--red);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error {
  margin-top: 10px;
  color: var(--red);
}

@media screen and (min-width: 744px) {
  .error {
    margin-top: 8px;
  }
}

.form {
  width: 328px;
}

@media screen and (min-width: 744px) {
  .form {
    width: 624px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    width: 462px;
    display: flex;
    gap: 110px;
  }
}

@media screen and (min-width: 1920px) {
  .form {
    display: flex;
    gap: 348px;
    margin-left: 162px;
    width: 786px;
  }
}

.header_contact {
  margin-bottom: 32px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.input {
  width: 100%;
  border-radius: 8px;
  height: 32px;

  padding-left: 8px;
  padding-right: 8px;

  border: 1px solid var(--grey);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_delivery {
  margin-top: 24px;
  margin-bottom: 18px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

@media screen and (min-width: 744px) {
  .header_delivery {
    margin-top: 28px;
    margin-bottom: 24px;
  }
}

.label_checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  gap: 16px;
  margin-bottom: 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.checkbox {
  width: 24px;
  height: 24px;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 744px) {
  .inputs_container {
    gap: 6px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  color: var(--grey);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flex_inputs_container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.input_container_flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form_container {
  margin-bottom: 44px;
}

@media screen and (min-width: 744px) {
  .form_container {
    width: 462px;
    margin: 0 auto;
  }
}

.input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 744px) {
  .input_container {
    width: 462px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.big_input {
  width: 100%;
  border-radius: 8px;
  height: 32px;

  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--grey);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 744px) {
  .big_input {
    width: 300px;
    margin-bottom: 0;
  }
}

.small_input {
  width: 122px;
  border-radius: 8px;
  height: 32px;

  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--grey);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 744px) {
  .small_input {
    width: 138px;
  }
}

.building_unit {
  width: 100%;

  border-radius: 8px;
  height: 32px;

  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--grey);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 744px) {
  .building_unit {
    width: 138px;
  }
}

.header_payment {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.payment_checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  gap: 16px;
  margin-bottom: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.save_checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  gap: 16px;
  margin-top: 44px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.submit_container {
  margin-top: 16px;
  display: flex;

  align-items: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 744px) {
  .submit_container {
    display: flex;
    align-items: end;

    flex-direction: column;
    gap: 20px;
  }
}

.price_container {
  display: flex;
  gap: 40px;
  color: var(--black);
  margin-right: 28px;
}

@media screen and (min-width: 744px) {
  .price_container {
    margin-right: 0;
  }
}

.subtotal {
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 744px) {
  .subtotal {
    font-size: 32px;
  }
}

.price {
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  color: var(--black);
}

@media screen and (min-width: 744px) {
  .price {
    font-size: 32px;
  }
}

.pay_button {
  width: 180px;
  display: flex;
  padding: 8px 24px;

  justify-content: center;
  align-items: center;

  background-color: var(--disabled);
  border-radius: 50px;

  font-family: var(--font);
  font-size: 16px;

  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

@media screen and (min-width: 744px) {
  .pay_button {
    font-size: 24px;
    padding: 16px 32px;
  }
}

.payment_container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.icons_container {
  display: flex;
  gap: 40px;
}

@media screen and (min-width: 1440px) {
  .submit_goods_container {
    width: 624px;
  }
}
