/* ------ General rules ------ */

.input:hover,
.input:focus {
  border: 1px solid var(--black);
}

.input,
.error_input {
  width: 100%;
  border-radius: 8px;
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--grey);
  font-size: 16px;
  font-weight: 400;
}

.error,
.label {
  font-family: var(--font);
  font-size: 12px;
  font-weight: 400;
}

.header_contact,
.header_delivery {
  font-family: var(--font);
  font-size: 24px;
  font-weight: 600;
}

.label_checkbox,
.save_checkbox {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
}

.input_container,
.label_checkbox,
.inputs_container,
.label,
.flex_inputs_container,
.input_container_flex,
.save_checkbox .payment_container,
.icons_container,
.payment_checkbox {
  display: flex;
}

/* ------ Main styles ------ */

.error_input {
  border: 1px solid var(--red);
}

.error {
  margin-left: 4px;
  margin-top: 10px;
  color: var(--red);
}

.form {
  width: 328px;
}

.input_container {
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.header_contact {
  margin-bottom: 32px;
}

.input {
  width: 100%;
  border-radius: 8px;
  height: 32px;

  padding-left: 8px;
  padding-right: 8px;

  border: 1px solid var(--grey);
}

.header_delivery {
  margin-top: 24px;
  margin-bottom: 18px;
}

.small_input {
  width: 138px;
}

.label_checkbox {
  flex-direction: row-reverse;
  justify-content: left;
  gap: 16px;
  margin-bottom: 18px;
}

.checkbox {
  display: none;

  width: 24px;
  height: 24px;
}

.inputs_container {
  flex-direction: column;
  gap: 10px;
}

.label {
  flex-direction: column;
  color: var(--grey);
}

.span {
  opacity: 0;
  margin-left: 4px;
}

.flex_inputs_container {
  flex-direction: column;
  gap: 6px;
}

.form_container {
  margin-bottom: 44px;
}

.save_checkbox {
  flex-direction: row-reverse;
  justify-content: left;
  gap: 16px;
  margin-top: 44px;

  text-transform: uppercase;
}

.icons_container {
  gap: 40px;
}

.input_container_regionZIP {
  gap: 24px;
}

/* ------ Media rules ------ */

@media screen and (min-width: 744px) {
  .big_input {
    width: 300px;
    margin-bottom: 0;
  }

  .input_container_regionZIP {
    gap: 24px;
  }

  .input_container {
    width: 462px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .error {
    margin-top: 8px;
  }

  .form {
    width: 624px;
  }

  .header_delivery {
    margin-top: 28px;
    margin-bottom: 24px;
  }

  .inputs_container {
    gap: 6px;
  }

  .form_container {
    width: 462px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    width: 462px;
    display: flex;
    gap: 110px;
  }
}

@media screen and (min-width: 1920px) {
  .form {
    display: flex;
    gap: 348px;
    margin-left: 162px;
    width: 786px;
  }
}
