/* ------ General rules ------ */

.input:hover,
.input:focus {
  border: 1px solid var(--black);
}

.input,
.error_input,
.big_input,
.small_input,
.building_unit {
  width: 100%;
  border-radius: 8px;
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--grey);
  font-size: 16px;
  font-weight: 400;
}

.error,
.label,
.subtotal {
  font-family: var(--font);
  font-size: 12px;
  font-weight: 400;
}

.header_contact,
.header_delivery,
.header_payment,
.pay_button {
  font-family: var(--font);
  font-size: 24px;
  font-weight: 600;
}

.label_checkbox,
.payment_checkbox,
.save_checkbox,
.price {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
}

.input_container,
.label_checkbox,
.inputs_container,
.label,
.flex_inputs_container,
.input_container_flex,
.save_checkbox,
.submit_container,
.price_container,
.pay_button,
.payment_container,
.icons_container {
  display: flex;
}

/* ------ Main styles ------ */

.error_input {
  border: 1px solid var(--red);
}

.error {
  margin-top: 10px;
  color: var(--red);
}

.form {
  width: 328px;
}

.input_container {
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.header_contact {
  margin-bottom: 32px;
}

.input {
  width: 100%;
  border-radius: 8px;
  height: 32px;

  padding-left: 8px;
  padding-right: 8px;

  border: 1px solid var(--grey);
}

.header_delivery {
  margin-top: 24px;
  margin-bottom: 18px;
}

.label_checkbox {
  flex-direction: row-reverse;
  justify-content: left;
  gap: 16px;
  margin-bottom: 18px;
}

.checkbox {
  width: 24px;
  height: 24px;
}

.inputs_container {
  flex-direction: column;
  gap: 10px;
}

.label {
  flex-direction: column;
  color: var(--grey);
}

.flex_inputs_container {
  flex-direction: column;
  gap: 28px;
}

.input_container_flex {
  width: 100%;
  justify-content: space-between;
}

.form_container {
  margin-bottom: 44px;
}

.payment_checkbox {
  flex-direction: row-reverse;
  justify-content: left;
  gap: 16px;
  margin-bottom: 40px;
}

.save_checkbox {
  flex-direction: row-reverse;
  justify-content: left;
  gap: 16px;
  margin-top: 44px;

  text-transform: uppercase;
}

.submit_container {
  margin-top: 16px;
  align-items: center;
  margin-bottom: 40px;
}

.price_container {
  gap: 40px;
  margin-right: 28px;
  color: var(--black);
}

.subtotal {
  font-size: 18px;
}

.price {
  font-size: 18px;
  color: var(--black);
}

.pay_button {
  justify-content: center;
  align-items: center;

  width: 180px;
  padding: 8px 24px;

  background-color: var(--disabled);
  border-radius: 50px;

  font-size: 16px;

  text-transform: uppercase;
}

.payment_container {
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.icons_container {
  gap: 40px;
}

/* ------ Media rules ------ */

@media screen and (min-width: 744px) {
  .pay_button {
    font-size: 24px;
    padding: 16px 32px;
  }

  .price {
    font-size: 32px;
  }

  .subtotal {
    font-size: 32px;
  }

  .price_container {
    margin-right: 0;
  }

  .submit_container {
    display: flex;
    align-items: end;

    flex-direction: column;
    gap: 20px;
  }

  .big_input {
    width: 300px;
    margin-bottom: 0;
  }

  .building_unit {
    width: 138px;
  }

  .small_input {
    width: 138px;
  }

  .input_container {
    width: 462px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .error {
    margin-top: 8px;
  }

  .form {
    width: 624px;
  }

  .header_delivery {
    margin-top: 28px;
    margin-bottom: 24px;
  }

  .inputs_container {
    gap: 6px;
  }

  .form_container {
    width: 462px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .submit_goods_container {
    width: 624px;
  }

  .form {
    width: 462px;
    display: flex;
    gap: 110px;
  }
}

@media screen and (min-width: 1920px) {
  .form {
    display: flex;
    gap: 348px;
    margin-left: 162px;
    width: 786px;
  }
}
