.order {
  font-family: var(--font);

  background-color: var(--white);
  color: var(--black);
}

.container {
  margin: 0 auto;
  padding-left: 162px;
  padding-right: 162px;
  width: 1920px;
}

.header {
  margin-bottom: 39px;
  font-family: var(--font);
  color: var(--black);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.header_container {
  display: flex;
}
