.order {
  font-family: var(--font);

  background-color: var(--white);
  color: var(--black);
}

.container {
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 162px;
  padding-right: 162px; */
  width: 1920px;
  display: flex;
}
