.background_top {
  width: 100%;
  height: 306px;
  position: absolute;
  top: 65px;
  left: 0;
  background: url('/images/background/top.svg') center / cover no-repeat;
}

.background_bottom {
  width: 100%;
  height: 306px;
  position: absolute;
  bottom: 0;
  left: 0;  
  background: url('/images/background/bot.svg') center / cover no-repeat;
}

.background__image {
  position: absolute;
  top: 0;
  left: 0;
}

.background__image_2 {
  left: auto;
  top: 30%;
  right: 20%;
}

.background__image_3 {
  top: auto;
  bottom: 0;
  left: 10%;
}

.background__image_4 {
  top: auto;
  left: auto;
  bottom: 0;
  right: 20%;
}

@media (max-width: 1439.99px) {
  .background__image_1 {
    width: 206px;
    height: 206px;
  }
  .background__image_2 {
    width: 60px;
    height: 67px;
    top: 5%;
    right: 5%;
  }
  .background__image_3 {
    width: 115px;
    height: 116px;
    left: 5%;
  }
  .background__image_4 {
    width: 117px;
    height: 110px;
    right: 5%;
  }
}

@media (max-width: 743.99px) {
  .background__image_1 {
    display: none;
  }
  .background__image_2 {
    right: 0;
  }
  .background__image_3 {
    left: 50%;
    transform: translateX(-50%);
    bottom: -5%;
  }
  .background__image_4 {
    bottom: auto;
    right: auto;
    top: 0;
    left: 0;
  }
}