.profile {
  height: 100%;
  padding: 48px 0px 48px 0px;
  background-color: white;
  width: 100%;
}

.profile__wrapper {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100%;
}

@media (max-width: 1439.99px) {
  .profile {
    padding: 0;
  }
  .profile__wrapper {
    grid-template-columns: none;
    justify-content: center;
  }
}

@media (max-width: 743.99px) {
  .profile {
    padding: 0px 0px 37px 0px;
  }
  .profile__wrapper {
    grid-template-columns: 1fr;
    max-width: 348px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
